.clearfix:after {
    display: block;
    content: "";
    clear: both;
  }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-linear-gradient(left top, #c4d7f1, #65a5ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #c4d7f1, #65a5ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #c4d7f1, #65a5ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #c4d7f1, #65a5ff); /* Standard syntax */
}

h1 {
    font-size: 56px;
    text-align: center;
}

h2 {
    font-size: 46px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

h4 {
  font-size: 30px;
  text-align: center;
}

h5 {
  font-size: 26px;
  text-align: center;
}

p {
    font-size: 20px;
}

main {
    padding: 20px;
}

div.box,
div.box2,
div.box3 {
    text-align: center;
    padding: 25px 0;
    display: block; 
}

nav {
    width: 100%;
    font-size: 22px;
  }
  
nav ul {
    background-color: #5ba1aa;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
  
  ul.topnav li {
    list-style: none;
    float: left;
  }
  
  ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 20px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #3e3e41;
  }
  
  ul.topnav li a:hover {
    background-color: #15299e;
    color: #fff;
  }
  
  td {
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
  }
  
  .spacer {
    border: 0;
  }
  
  .guide {
    border: 0;
  }
  
  .guide--horiz {
    text-align: center;
  }
  
  .guide--vert {
    text-align: right;
  }
  
  .ship {
    background: lightgray;
    border: 1px solid gray;
  }
  
  aside {
    border: 1px solid lightgray;
    padding: 10px;
  }
  
  .right {
    float: right;
    padding: 10px 40px 10px 40px;
    margin: 10px 40px 10px 40px;
  }
  
  .hn-btn {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
  }
  
  .hn-btn:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  
  .hn-btn.active {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #28bdeb);
  }
  
  .hn-btn[disabled] {
    background: gray;
  }

table {
    width: 400px;
    height: 400px;
    padding: 10px;
}

table caption {
    font-size: 25px;
    padding: 10px;
}

.js-hn-root {
    text-align: center;
}

.contact {
  display: block;
  width:300px; 
  background-color:#fff; 
  border:2px solid #ccc; 
  border-radius:10px; 
  padding:20px; 
  margin-top:20px; 
  margin-left: 200px;
}

.contact label {
  display:block;
  margin-bottom:5px;
  font-weight:bold; 
  text-transform: uppercase; 
  font-size:15px; 
  color:#555555; 
}

.contact textarea,
.contact input {
	padding:5px; 
	border-radius:3px; 
	border:1px solid #ccc; 
	margin-bottom:25px; 
	width:245px; 
}

.footsy {
  padding: 20px;
}

.uni {
  display:block;
  padding: 30px 30px;
  margin-bottom:15px;
  background-color:#ffffffb7; 
  border:2px solid #ccc; 
  border-radius:10px; 
}
  